.color_switcher_section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.color_switcher_samples_container {
    display: flex;
    flex-direction: column;
}

.color_switcher_img {
    display: block;
    margin: 0 auto;
    width: 30.5rem;
    text-align: center;
    height: auto;
    aspect-ratio: 3 / 2;
    img {
        max-width: 100%;
    }
}

.color_samples_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.color_sample {
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid var(--decorative-line-color);
    transition:
        transform var(--transition-time) ease,
        box-shadow var(--transition-time) ease;

    &:hover {
        box-shadow: 0 4px 20px 0 var(--hover-main-color);
    }

    &.active {
        transform: scale(1.4);
        box-shadow: 0 4px 20px 0 var(--hover-main-color);
    }
}

@media (max-width: 850px) {
    .color_samples_container {
        margin: 3rem;
    }
}
