.car_model_complectation_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1166px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.car_model_complectation_title_wrapper {
    display: block;
    border-bottom: 1px solid var(--decorative-line-color);
    padding-bottom: 20px;
}

.car_model_complectation_wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.car_model_complectation_title {
    display: inline-block;
    font-size: 32px;
    line-height: 48px;
    margin-top: 0px;
    position: relative;
    &::before {
        background: var(--main-color);
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

.car_model_prices_titles {
    display: table-row;
    background-color: #d7d7d7;
    color: #1e1e1e;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.002em;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    th {
        display: table-cell;
        padding: 15px;
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            margin-right: 8px;
            width: 20px;
            height: 20px;
            background-repeat: -repeat;
            background-size: contain;
            vertical-align: middle;
        }
    }
    > *:first-of-type::before {
        background-image: url('../../assets/images/gear.svg');
    }
    > *:nth-child(2)::before {
        background-image: url('../../assets/images/engine.svg');
    }
    > *:nth-child(3)::before {
        background-image: url('../../assets/images/transmission.svg');
    }
    > *:nth-child(4)::before {
        background-image: url('../../assets/images/power.svg');
    }
    > *:nth-child(5)::before {
        background-image: url('../../assets/images/label.svg');
    }
    > *:nth-child(6)::before {
        background-image: url('../../assets/images/discount.svg');
    }
    > *:last-child {
        height: 20px;
    }
}

.car_model_group_name {
    border-bottom: 1px solid var(--decorative-line-color);
}

.car_model_complectation_title_row {
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
    line-height: 70px;
    text-align: left;
    height: 70px;
}

.car_model_complectation_title_main {
    font-size: 17px;
    line-height: 70px;
    height: 70px;
    td {
        text-align: center;
        vertical-align: middle;

        &:nth-child(1) {
            font-weight: 600;
            line-height: 70px;
            padding-left: 25px;
            font-weight: 600;
            text-align: left;
            position: relative;

            &:hover {
                transition: all 0.3s ease;
                cursor: pointer;
                color: var(--hover-main-color);

                &::before {
                    border-top-color: var(--hover-main-color);
                }
            }

            &::before {
                border: 7px solid transparent;
                border-radius: 3px;
                border-top-color: #333;
                content: '';
                height: 10px;
                left: 5px;
                position: absolute;
                top: 33px;
                width: 10px;
            }
        }
        &:nth-of-type(5) {
            text-decoration: line-through;
        }
        &:nth-of-type(6) {
            color: var(--light-text-color);
        }
        &:nth-of-type(7) {
            color: #ea2c4b;
            font-weight: 600;
        }
    }
}

.car_model_complection_content {
    display: none;
}

.car_model_complection_content.active {
    display: table-row;
}

.car_model_complection_extras_list {
    column-count: 3;
    font-size: 14px;
    list-style: none;
    margin: 20px 0 30px;
    padding: 0;
}

.car_catalog_extras_title {
    font-weight: 700;
    margin: 10px 0 0;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .car_model_prices_titles {
        > *:nth-child(2) {
            display: none;
        }
        > *:nth-child(3) {
            display: none;
        }
        > *:nth-child(4) {
            display: none;
        }
        > *:nth-child(5) {
            display: none;
        }
    }

    .car_model_complectation_title_main {
        > *:nth-child(2) {
            display: none;
        }
        > *:nth-child(3) {
            display: none;
        }
        > *:nth-child(4) {
            display: none;
        }
        > *:nth-child(5) {
            display: none;
        }
    }
}

@media screen and (max-width: 458px) {
    .car_model_complectation_title_main {
        font-size: unset;
    }
}
