.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--main-color);
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: 0;
}
