// :root {
//     --main-color: #0c51d1;
//     --main-text-color: #1e1e1e;
//     --inverse-text-color: #fff;
//     --light-text-color: #727c95;
//     --decorative-line-color: #6f836e66;
//     --box-shadow: 0 4px 32px 0 #00103d1f;
//     --transition-time: 0.3s;
//     --hover-main-color: #163f98;

//     --swiper-theme-color: #007aff;
// }
// u1secar.ru

:root {
    --main-color: #0f8921;
    --main-text-color: #1e1e1e;
    --inverse-text-color: #fff;
    --light-text-color: #727c95;
    --decorative-line-color: #6f836e66;
    --box-shadow: 0 4px 32px 0 #00103d1f;
    --transition-time: 0.3s;
    --hover-main-color: #0b5e17;

    --swiper-theme-color: #0aa922;
}
//  ulusecarmax.ru

// :root {
//     --main-color: #bb26d9;
//     --main-text-color: #1e1e1e;
//     --inverse-text-color: #fff;
//     --light-text-color: #727c95;
//     --decorative-line-color: #61306b;
//     --box-shadow: 0 4px 32px 0 #00103d1f;
//     --transition-time: 0.3s;
//     --hover-main-color: #641474;
//     --swiper-theme-color: #ce34ec;
// }
