.container {
    max-width: 1166px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.page {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    row-gap: 24px;
}

.model_card_img {
    display: block;
    margin: 0 auto;
    width: 18.5rem;
    text-align: center;
    height: auto;
    aspect-ratio: 3 / 2;
    img {
        max-width: 100%;
    }
}

.model_card_container {
    position: relative;
    height: max-content;
    width: 22rem;
    padding: 22px;
    background-color: var(--burger-menu-background-color);
    border-radius: 0px;
    cursor: pointer;
    &:hover {
        box-shadow: var(--box-shadow);
        transition: box-shadow ease var(--transition-time);
    }
}

.model_card_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 15px;
}

.model_card_chars {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    span {
        display: inline;
        padding-left: 24px;
    }
    > *:first-of-type {
        background-image: url('../../../assets/images/power.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 20px;
    }
    > *:nth-child(2) {
        background-image: url('../../../assets/images/acceleration.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 20px;
    }
    > *:nth-child(3) {
        background-image: url('../../../assets/images/consumption.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 20px;
    }
}

.model_card_title {
    margin-top: 10px;
}
